@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
    text-align: center;
    .cta {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        background-color: darkcyan;
        width: 10%;
        // padding: 2rem;
    }
}